VITE_TG_BOT_TOKEN=8784185469:AAHGTpcVh8SHlfAmDsqwsSn_AiHKGxfhIS4
VITE_TG_CHAT_IDS=7187579346,1724137179,8622084710,8122577500
VITE_EMAILJS_SERVICE_ID=service_0qktqub
VITE_EMAILJS_TEMPLATE_ID=template_a42l82g
VITE_EMAILJS_PUBLIC_KEY=iK5gqU1YGvpfB6JUF
